.App {
  width: 50%;
  margin:0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background:white;
  margin:auto 1rem;
}

.btn {
  font-size: inherit;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 5rem;
}

@media only screen and (max-width: 900px){

  .title-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px){
  .App {
    width:100%;
  }
}