@import-normalize;
@import './font.css';

*, *::after, *::before {
  font-family: Gowtham Rounded, sans-serif;
  /* background-color: black !important; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
